* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body, html {
    height: 100%;
    background-image: url('Wedding/Image\ 4.jpg');
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: justify;
    color: rgb(243, 249, 249);
    flex-direction: column;
    backdrop-filter: blur(3px); /* Apply blur effect */
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: fadeIn 2s ease;
}
p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 600px;
    line-height: 1.6;
    animation: fadeIn 3s ease;
}
.btn {
    padding: 15px 40px;
    background-color: white;
    color: #ee0979;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.4s ease, color 0.4s ease;
    cursor: pointer;
    animation: fadeIn 3.5s ease;

}
.btn:hover {
    background-color: #ee0979;
    color: white;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}